#####
# If generating JSON for multiple samples, replace '</full/file/path>', '<string>', or 'null' with '<>', then complete mc3_vcf2maf.sample_list.tab.
# See ./backup_templates/mc3_vcf2maf.sample_list.template for examples. Be certain to provide a unique identifier under the 'run_uid'
# header to clearly distinguish samples/runs. If *optional* sample-specific values are desired, the appropriate key from this template may
# be used as a column header in mc3_vcf2maf.sample_list.tab (be careful to maintain tab-delimited format).
####
indelocatorVCF: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to Indelocator-generated VCF to be filtered [e.g., /my/path/to/indelocator.vcf]
museVCF: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to MuSE-generated VCF to be filtered [e.g., /my/path/to/muse.vcf]
mutectVCF: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to MuTect-generated VCF to be filtered [e.g., /my/path/to/mutect.vcf]
pindelVCF: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to Pindel-generated VCF to be filtered [e.g., /my/path/to/pindel.vcf]
radiaVCF: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to RADIA-generated VCF to be filtered [e.g., /my/path/to/radia.vcf]
somaticsniperVCF: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to SomaticSniper-generated VCF to be filtered [e.g., /my/path/to/sniper.vcf]
varscaniVCF: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to VarScan-generated indel VCF to be filtered [e.g., /my/path/to/varscani.vcf]
varscansVCF: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to VarScan-generated SNP VCF to be filtered [e.g., /my/path/to/varscans.vcf]
refFasta: {
    class: File
    path: </full/file/path>        # Required file; replace '</full/file/path>' with full path to reference FASTA [e.g., /my/path/to/genome.fa.gz]
vepData: {
    class: Directory
    path: </full/directory/path/>   # Required directory; replace '</full/directory/path/>' with full path to VEP's base cache/plugin directory [e.g., /my/path/to/vep/]
tumorID: <string>                   # Required string; replace '<string>' with unique indentifier for tumor sample [e.g., TCGA-AB-2901-03A-01W-0733-08]
normalID: <string>                  # Required string; replace '<string>' with unique indentifier for matched normal sample [e.g., TCGA-AB-2901-11A-01W-0732-08]
tumor_bam_name: <string>            # Required string; replace '<string>' with BAM file name of tumor sample [e.g., C317.TCGA-AB-2901-03A-01W-0733-08.4.bam]
normal_bam_name: <string>           # Required string; replace '<string>' with BAM file name of matched normal sample [e.g., C317.TCGA-AB-2901-11A-01W-0732-08.4.bam]
tumor_aliquot_uuid: null            # Optional string; UUID or barcode associated with tumor sample aliquot [e.g., bac6a6d2-8c40-43cd-ab4c-16d3f8a06eb6]
tumor_analysis_uuid: null           # Optional string; UUID or barcode associated with tumor sample analysis [e.g., cf8c9b38-246d-46aa-b557-6c882e438161]
normal_aliquot_uuid: null           # Optional string; UUID or barcode associated with matched normal sample aliquot [e.g., 22f3f166-41a7-4058-a315-d72e1d7becd6]
normal_analysis_uuid: null          # Optional string; UUID or barcode associated with matched normal sample analysis [e.g., c404dcfb-e580-4cf2-8fe6-6990ce2ce03a]
center: null                        # Optional string; name of institute performing pipeline [e.g., OHSU]
platform: null                      # Optional string; platform used for sequencing [e.g., illumina]
