#####
# If generating JSON for multiple samples, complete mc3_vcf2maf_full.sample_list.tab with the sample-specific information. Be certain to provide a unique identifier
# under the 'run_uid' identifier to clearly distinguish samples/runs. Be careful to maintain the tab-delimited format of that file. See 
# ./backup_templates/mc3_vcf2maf_full.sample_list.template for examples. Next, replace </full/file/path>', '<string>', or 'null' for the corresponding sample list 
# identifiers in *this* file with '<>'.  Identifiers not represented in the sample list file are run-specific data (i.e., the same data used across all samples, such
# as centromere.bed or cosmic.vcf). Replace </full/file/path>', '<string>', or 'null' in *this* file with the run-specific information as appropriate for the remainingi
# dentifiers.
####
tumor: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to tumor DNA BAM file [e.g., /my/path/to/tumor.bam]
normal: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to normal DNA BAM file [e.g., /my/path/to/normal.bam]
refFasta: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to reference FASTA [e.g., /my/path/to/genome.fa.gz]
centromere: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with centromere location BED file [e.g., /my/path/to/centromere.bed]
cosmic: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to COSMIC VCF file [e.g., /my/path/to/cosmic.vcf.gz]
dbsnp: {
    class: File
    path: </full/file/path>         # Required file; replace '</full/file/path>' with full path to dbSNP VCF file [e.g., /my/path/to/dbsnp.vcf.gz]
markSamples: {
    class: Directory
    path: </full/directory/path>    # Required directory; replace '</full/directory/path>' with full path to sample-level markfiles [e.g., /my/path/to/markfiles/mark_samples]
markVariants: {
    class: Directory
    path: </full/directory/path>   # Required directory; replace '</full/directory/path>' with full path to variant-level markfiles [e.g., /my/path/to/markfiles/mark_variants]
vepData: {
    class: Directory
    path: </full/directory/path>   # Required directory; replace '</full/directory/path>' with full path to VEP's base cache/plugin directory [e.g., /my/path/to/vep]
tumorID: <string>                   # Required string; replace '<string>' with unique indentifier for tumor sample [e.g., TCGA-AB-2901-03A-01W-0733-08]
normalID: <string>                  # Required string; replace '<string>' with unique indentifier for matched normal sample [e.g., TCGA-AB-2901-11A-01W-0732-08]
bed_file: {
    class: File
    path: null                      # Optional file; replace 'null' with full path to GAF BED file for filtering
