#####
# If generating JSON for multiple samples, replace '</full/file/path>', '<string>', or 'null' with '<>', then complete dirgrep.sample_list.tab.
# See ./backup_templates/dirgrep.sample_list.template for examples. Be certain to provide a unique identifier under the 'run_uid'
# header to clearly distinguish samples/runs. If *optional* sample-specific values are desired, the appropriate key from this template may
# be used as a column header in dirgrep.sample_list.tab (be careful to maintain tab-delimited format).
####
pattern: <string>                         # Required string; replace '<string>' with pattern to grep from input files [e.g. TCGA-XX-XXXX]
infiles: {
    class: Directory
    path: </full/directory/path/>         # Required file; replace '</full/directory/path/>' with full path to directory containing files to grep [e.g., /my/path/to/dir/]
outfile: null				  # Optional string; name of output text file; 'null' defaults to 'grepout.txt'
