{
  "infiles" : [
    {
      "class" : "File",
      "path" : "</full/file/path>"     # Required file array; replace '</full/file/path>' with file to be concatenated [e.g., /path/to/file1.txt]
    },
    {
      "class" : "File",
      "path" : "/full/file/path"       # Required file array; replace '</full/file/path>' with file to be concatenated [e.g., /path/to/file2.txt]
    }
  ],
  "outfile" : null                     # Optional string; name of output file; 'null' defaults to 'catout.txt'
}
