{
    "pattern" : "<string>"                         # Required string; replace '<string>' with pattern to grep from input files [e.g. TCGA-XX-XXXX]
    "infiles" : {
        "class" : "Directory",
        "path" : "</full/directory/path/>"         # Required file; replace '</full/directory/path/>' with full path to directory containing files to grep [e.g., /my/path/to/dir/]
    }
    "outfile" : null				 # Optional string; name of output text file; 'null' defaults to 'grepout.txt'
}
