{
    "zipped" : {
        "class" : "File",
        "path" : "</full/file/path>"         # Required file; replace '</full/file/path>' with full path to gzip-compressed file to be unzipped [e.g., /my/path/to/input.gz]
    }
}
