{
    "vcf" : {
        "class" : "File",
        "path" : "</full/file/path>"         # Required file; replace '</full/file/path>' with full path to bgzip-compressed VCF file to be indexed with tabix [e.g., /my/path/to/input.vcf.gz]
    }
}
